<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
               https://raw.githubusercontent.com/apache/logging-log4j2/log4j-2.17.0/log4j-core/src/main/resources/Log4j-config.xsd"
               status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%-7p %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %c.%M %x - %m%n</Property>
        <Property name="LOG_PATTERN_SYSOUT">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %c.%M %x%n%p: %m%n</Property>
        <Property name="APP_LOG_ROOT">/tmp/logs/iw3d</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN_SYSOUT}"/>
        </Console>

        <!-- File Appenders on need basis -->
        <RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/app-debug.log"
                     filePattern="${APP_LOG_ROOT}/app-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/app-info.log"
                     filePattern="${APP_LOG_ROOT}/app-info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/app-error.log"
                     filePattern="${APP_LOG_ROOT}/app-error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="perfLog" fileName="${APP_LOG_ROOT}/app-perf.log"
                     filePattern="${APP_LOG_ROOT}/app-perf-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="traceLog" fileName="${APP_LOG_ROOT}/app-trace.log"
                     filePattern="${APP_LOG_ROOT}/app-trace-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="dbLog" fileName="${APP_LOG_ROOT}/app-db.log"
                     filePattern="${APP_LOG_ROOT}/app-db-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="org.apache.camel.spring.xml.handler" additivity="false" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.apache.camel.support" additivity="false" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework.beans.factory.xml" additivity="false" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.apache.camel.spring" additivity="false" level="info">
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>